<h1>Reset your password</h1>
<p>Hi <%= @user.full_name %>,</p>
<p>We received a request to reset your Stockerly password. Click the link below to choose a new one:</p>
<p><%= link_to "Reset my password", @reset_url %></p>
<p>This link will expire in 2 hours. If you didn't request this, you can safely ignore this email.</p>
